@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400,600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}

header {
  background-color: seagreen;
  padding: 10px;
  width: 420px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: seagreen;
  padding: 10px;
}

.logo-CyT {
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}